.list {

  ul {
    background-color: var(--gray-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
    padding-block: 20px;
    max-height: 200px;
    overflow-y: auto;
  }

  .title {
    margin-block-end: 11%;
  }
}