.logo {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;

  .cortex {
    color: var(--yellow-gold);
  }
  span {
    color: var(--accent-color);
  }
}